@font-face {
    font-family: 'Montserrat';
    src: url('montserrat_uk.allfont.net-webfont.eot');
    src: url('montserrat_uk.allfont.net-webfont.eot?#iefix') format('embedded-opentype'),
         url('montserrat_uk.allfont.net-webfont.woff2') format('woff2'),
         url('montserrat_uk.allfont.net-webfont.woff') format('woff'),
         url('montserrat_uk.allfont.net-webfont.ttf') format('truetype'),
         url('montserrat_uk.allfont.net-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;

}